@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");

:root {
  --color-bg: #2c446c;
  --color-white: #ffffff;
  --color-blue-light: #0499db;
  --color-black-2: #272626;
  --color-gray-2: #43403ed9;
  --color-gray-3: #7a7a7a;
  --color-light-gray: #bfbfbf;
  --font-1: Roboto, sans-serif;
  --font-2: Tahoma, sans-serif;
}

body {
  width: 100% !important;
  background-color: var(--color-white) !important;
}

/* ---------- NAVBAR ---------- */

nav {
  position: fixed !important;
  top: 0;
  width: 100% !important;
  padding: 0 10%;
  background-color: var(--color-black-2) !important;
}

.nav-logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

li .nav-item {
  cursor: pointer;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0 10px !important;
  padding: 0 8px !important;
}

.nav-link {
  transition: 0.4 ease;
}

.nav-link:hover {
  color: var(--color-blue-light) !important;
  cursor: pointer !important;
}

@media (max-width: 991px) {
  .nav-item-content {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    border: none;
    margin: 10px 10px;
    text-align: center;
  }
}

/* ---------- US ---------- */

.us {
  margin-top: 100px;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record {
  width: 100%;
  max-width: 570px;
  height: 806.55px;
}

.us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 35px;
}

.us-header {
  font-size: 45px;
  font-family: var(--font-1);
  color: var(--color-bg);
  font-weight: bold;
}

.us-header-content {
  font-size: 20px;
  text-align: justify;
  font-family: var(--font-2);
  font-weight: 300;
  line-height: 1.8em;
  color: var(--color-gray-2);
}

@media (max-width: 768px) {
  .us {
    flex-direction: column;
    padding: 10px 10px;
    margin: 0 auto;
  }

  .record {
    max-width: 100%;
    margin-top: 100px;
  }

  .us-container {
    padding: 0 0 0 0;
  }
}

/* ---------- US BOARD OF DIRECTORS ---------- */

.us-board-of-directors {
  display: flex;
  flex-direction: column;
}

.us-board-of-directors-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

.fa-user-tie {
  color: var(--color-bg);
  margin: 0 0 30px;
}

.us-board-of-directors-header-title {
  color: var(--color-light-gray);
  font-size: 15px;
  font-family: var(--font-1);
  text-transform: uppercase;
}

.us-board-of-directors-header-subtitle {
  font-size: 45px;
  font-weight: 600;
  font-family: var(--font-1);
  color: var(--color-bg);
  margin-bottom: 100px;
}

.board-of-directors-img {
  padding: 10px;
}

@media (max-width: 768px) {
  .us-board-of-directors-header-subtitle {
    font-size: 28px;
    margin-bottom: 50px;
  }
  
  .board-of-directors-img {
    width: 100%;
    max-width: 639px;
  }
}

/* ---------- US STAFF ---------- */

.us-staff {
  display: flex;
  flex-direction: column;
}

.us-staff-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

.fa-users {
  color: var(--color-bg);
  margin: 0 0 30px;
}

.us-staff-title {
  color: var(--color-light-gray);
  font-size: 15px;
  font-family: var(--font-1);
  text-transform: uppercase;
}

.us-staff-subtitle {
  font-size: 45px;
  font-weight: 600;
  font-family: var(--font-1);
  color: var(--color-bg);
  margin-bottom: 100px;
}

@media (max-width: 300px) {
  .us-staff-img {
    width: 100%;
    max-width: 260px;
  }

  .us-staff-subtitle {
    margin-bottom: 50px;
    font-size: 28px;
  }
}

/* ---------- US AFFILIATES ---------- */

.us-affiliates {
  display: flex;
  flex-direction: column;
}

.us-affiliates-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
}

.fa-users-gear {
  color: var(--color-bg);
  margin: 0 0 30px;
}

.us-affiliates-title {
  color: var(--color-light-gray);
  font-size: 15px;
  font-family: var(--font-1);
  text-transform: uppercase;
}

.us-affiliates-subtitle {
  font-size: 45px;
  font-weight: 600;
  font-family: var(--font-1);
  color: var(--color-bg);
  margin-bottom: 100px;
}

.us-affiliate-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.us-affiliate-list {
  width: 100%;
  max-width: 359.98px;
  padding: 0 0 0 15px;
  margin: 30px 0;
}

.us-affiliate-list-item {
  color: var(--color-gray-3);
  font-size: 16px;
  font-family: var(--font-1);
  margin: 10px 0 0;
}

@media (max-width: 768px) {
  .us-affiliates-subtitle {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .us-affiliate-list {
    padding: 0 0 0 20px;
  }

  .us-affiliate-list-item {
    font-size: 15px;
  }

  .us-affiliate-description {
    margin-bottom: 40px;
  }
}

@media (max-width: 380px) {
  .us-affiliate-list {
    padding: 0 0 0 30px;
  }
}