@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

:root {
  --font-1: Arial, Helvetica, sans-serif;
  --font-2: Roboto, sans-serif;
  --font-3: "Playfair Display", sans-serif;
  --font-4: Vidaloka, sans-serif;
  --color-black-1: #121212;
  --color-black-2: #272626;
  --color-gray-light: #69727d;
  --color-gray-1: #43403e;
  --color-gray-2: #43403ed9;
  --color-gray-3: #7a7a7a;
  --color-gray-4: #f4f4f4;
  --color-primary-1: #2c446c;
  --color-primary-2: #2f5aae;
  --color-primary-3: #3b5998;
  --color-blue-light: #0499db;
  --color-blue: #06025f;
  --color-dark-blue: #02095b;
  --color-white: #ffffff;
  --color-orange: #ff6900;
}

body {
  width: 100% !important;
  background-color: var(--color-white);
}

/* ---------- NAVBAR ---------- */

nav {
  position: fixed !important;
  width: 100% !important;
  padding: 0 10%;
  background-color: var(--color-black-2) !important;
}

.nav-logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

li .nav-item {
  cursor: pointer;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0 10px !important;
  padding: 0 8px !important;
}

.nav-link {
  transition: 0.4 ease;
}

.nav-link:hover {
  color: var(--color-blue-light) !important;
  cursor: pointer !important;
}

@media (max-width: 991px) {
  .nav-item-content {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    border: none;
    margin: 10px 10px;
    text-align: center;
  }
}

/* ---------- SECTION 1 ---------- */

.img-section-1 {
  width: 100%;
  max-width: 3000px;
  background-size: cover;
  margin-top: 75px;
}

/* ---------- SECTION 2 ---------- */

.section-2 {
  width: 100%;
  max-width: 3000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
}

.section-2-left {
  width: 100%;
  max-width: 50%;
}

.section-2-left-title {
  font-family: var(--font-2);
  font-size: 40px;
  font-weight: 700;
  color: var(--color-primary-1);
}

.section-2-left-content {
  text-align: justify;
  color: var(--color-gray-2);
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-2);
  line-height: 1.7em;
  margin: 30px 0 70px 0;
}

.section-2-btn {
  width: 100%;
  max-width: 188px;
  color: var(--color-blue);
  font-family: var(--font-2);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  text-decoration: none;
  border-color: var(--color-dark-blue);
  padding: 15px 40px;
  text-align: center;
  margin-top: 40px 0;
  transition: 0.4s;
}

.section-2-btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-color: var(--color-orange);
}

.section-2-right-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 1000px) {
  .section-2 {
    justify-content: center;
  }

  .section-2-btn {
    width: 100%;
    max-width: 187px;
  }

  .section-2-right-img {
    max-width: 300px;
    margin: 40px;
  }
}

@media (max-width: 650px) {
  .section-2 {
    padding: 40px 60px;
  }

  .section-2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-2-left-title {
    font-size: 30px;
    text-align: center;
  }

  .section-2-left-content {
    font-size: 18px;
    text-align: center;
    margin: 20px 0 30px 0;
  }

  .section-2-btn {
    letter-spacing: 0;
  }

  .section-2-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ---------- SECTION 3 ---------- */

.section-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
  margin: auto;
}

.section-3-element {
  width: 100%;
  max-width: 187px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-black-2);
  z-index: -1;
}

.fa-solid {
  color: var(--color-blue-light);
  margin: 0 10px;
  top: 0px;
}

.section-3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-3-title {
  font-size: 60px;
  font-family: var(--font-4);
  font-weight: 900;
  color: var(--color-primary-1);
}

.section-3-content {
  color: var(--color-gray-1);
  font-family: var(--font-2);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 5px;
}

@media (max-width: 1370px) {
  .section-3 {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .section-3 {
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
  }

  .section-3-element {
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 0;
    height: 120px;
    justify-content: left;
  }

  .section-3-title {
    font-size: 40px;
  }

  .section-3-content {
    font-size: 10px;
  }
}

@media (max-width: 770px) {
  .section-3-element {
    flex-direction: column;
    margin: 30px 0;
    height: 175px;
  }

  .section-3-text {
    text-align: center;
  }

  .section-3-title {
    margin: 10px 0;
    font-size: 50px;
  }

  .section-3-content {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .section-3-content {
    font-size: 10px;
    letter-spacing: 3px;
  }
}

@media (max-width: 270px) {
  .section-3-element {
    height: 190px;
  }
}

@keyframes appear {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.disguise {
  opacity: 0;
}

.animate {
  animation: appear 1.3s ease;
}

/* ---------- SECTION 4 ---------- */

.section-4 {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  /*position: relative;*/
  /*z-index: -1;*/
}

.section-4-parallax {
  width: 100%;
  max-width: 1140px;
  background: rgba(0, 0, 0, 0.3) url(img/Nosotros.png);
  background-size: cover;
  background-attachment: fixed;
  height: 794.88px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-blend-mode: darken;
  opacity: 0.9;
  z-index: -1;
}

.section-4-box {
  width: 100%;
  max-width: 640px;
  height: 544.98px;
  background-color: var(--color-white);
  padding: 80px 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.section-4-box-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-primary-1);
  font-family: var(--font-2);
  text-align: center;
}

.section-4-box-description {
  font-family: var(--font-2);
  text-align: center;
  color: var(--color-gray-2);
  font-size: 24px;
  font-weight: 300;
  line-height: 1.7em;
  margin: 30px 0;
}

.section-4-box-btn-content {
  text-align: center;
}

.section-4-box-btn {
  font-family: var(--font-2);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  fill: var(--color-blue);
  color: var(--color-blue);
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--color-dark-blue);
  border-radius: 0px 0px 0px 0px;
  padding: 15px 40px 15px 40px;
  cursor: pointer;
  transition: 0.4s ease;
}

.section-4-box-btn:hover {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: var(--color-white);
}

@media (max-width: 650px) {
  .section-4-parallax {
    background-image: url(img/Nosotros.png);
    background-size: cover;
    background-position: center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    height: 400px;
  }

  .section-4-box {
    max-width: 315px;
    height: 363px;
  }

  .section-4-box-title {
    font-size: 25px;
  }

  .section-4-box-description {
    width: 100%;
    max-width: 255px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .section-4-box-btn {
    padding: 0 8px;
  }
}

/* ---------- SECTION 5 ---------- */

.section-5 {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}

.section-5-content-left {
  width: 100%;
  max-width: 539.06px;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(110deg, #25038b 0%, #040129 100%);
  text-transform: uppercase;
  color: var(--color-white);
  font-family: var(--font-3);
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}

.section-5-content-left-text {
  width: 100%;
  max-width: 379.06px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-5-content-right {
  width: 100%;
  max-width: 806.92px;
  margin: 0 0 0 3px;
}

.section-5-content-right-img {
  width: 100%;
  max-width: 806px;
  height: 435px;
  background-size: cover;
}

@media (max-width: 1347px) {
  .section-5 {
    flex-direction: column-reverse;
  }

  .section-5-content-left {
    max-width: 100%;
  }

  .section-5-content-right {
    max-width: 100%;
    margin: 0 0 0 0;
  }

  .section-5-content-right-img {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .section-5-content-left {
    height: 120px;
    font-size: 20px;
  }
}

@media (max-width: 766px) {
  .section-5-content-left-text {
    max-width: 100%;
  }

  .section-5-content-right-img {
    height: 250px;
  }
}

/* ---------- SECTION 6 ---------- */

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 25px;
}

@media (max-width: 766px) {
  .section-6 {
    margin: 50px 25px;
  }
}

/* ---------- FOOTER ---------- */

footer {
  width: 100%;
  background-color: var(--color-black-2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.footer-address,
.footer-contact,
.footer-schedule,
.footer-social-networks,
.footer-logo-date {
  width: 100%;
  max-width: 270px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 10px;
}

.footer-title {
  font-size: 18px;
  font-family: var(--font-2);
  text-transform: uppercase;
  color: var(--color-blue-light);
  margin-bottom: 10px;
}

.footer-container {
  display: flex;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-subcontent {
  display: flex;
  align-items: center;
}

.iconify{
  color: var(--color-blue-light);
  margin: 0 8px;
}

.footer-text {
  color: var(--color-gray-3);
  font-family: var(--font-2);
  font-size: 18px;
  transition: .5s ease;
}

.footer-text:hover {
  color: var(--color-white);
}

.footer-subcontent-social {
  display: flex;
  align-items: center;
}

.iconify-facebook,
.iconify-twitter {
  width: 50px;
  height: 50px;
  color: var(--color-blue-light);
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.9s ease;
}

.iconify-facebook:hover,
.iconify-twitter:hover {
  color: var(--color-white);
  transform: scale(1.1);
}

.footer-logo {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

@media (max-width: 766px) {
  footer {
    flex-wrap: wrap;
  }
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
